{% extends 'base.html' %}
{% block css %}
<style>
    .unavailable{
    width: 1000px;
    margin-left: 400px;
    font-size: x-large;
    font-weight: bolder;
    color: blueviolet;
    }
  .error{
        width: 30%;
        padding: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin: auto;
        background-color: rgb(248, 0, 0);
        color: rgb(237, 245, 241);
        text-align: center;
        border-radius: 10px;
    }
  table{
    margin: auto;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  tr,td,th{
    border-width: 2px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px ;
    padding-bottom: 10pt;
  }
</style>
{% endblock %}
{% block content %}
{% if messages %}
{%for message in messages %}
<p class="{{message.tags}}">{{message}}</p>
{% endfor %}
{% endif %}
{% if books %}
<p class="unavailable">
  List of Unavailable Books
</p>
<table >
    <thead>
      <tr>
        <th >ID</th>
        <th>Name</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
    {% for book in books %}
      <tr>
        <td>{{book.id}}</td>
        <td><a href="{% url 'book_details' pk=book.id %}">{{book.name}}</a></td>
        {% if user.is_authenticated %}
        <td><a class="btn btn-warning btn-sm" href="{% url 'reserve_book' pk=book.id %}">Reserve</a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p style="text-align: center; font-size: 30px;">There is no book available.</p>
  {% endif %}
{% endblock %}