{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block css %}
<style>
    .update_user{
        width: 50%;
        margin: auto;
        margin-top: 30px;
        background-color: hwb(180 16% 66%);
        padding: 30px;
        color: white;
        border-radius: 30px;
        font-size: small;
        font-weight: bolder;
    }
</style>
{% endblock %}
{% block content %}
<div > 
    <p>Update User</p>
    <form  class="update_user" method="post" >
        {% csrf_token %} 
        {% for field in form %}
            {{field.label_tag}}
            <br>
            {{field | crispy}}
            {{field}}
            <br>
            {{field.errors | striptags}}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
{% endblock %}